@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.25);
    z-index: 10;
    position: relative;
}
.logo p{
    font-weight: bold;
    font-size: 32px;
    color: rgba(255, 191, 61, 1);
}
.menu{
    display: flex;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.active{
    color: rgba(255, 191, 61, 1) !important; 
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons a{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}
.main-hero{
    width: 100%;
    position: absolute;
    top: 0;
}
.main-hero img{
    width: 100%;
    position: relative;
}
.content{
    width: 30%;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content h1{
    color: rgba(255, 191, 61, 1);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.content p{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.content a{
    text-decoration: none;
    background-color: rgba(255, 191, 61, 1);
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    width: fit-content;
}
.images-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 550px;
  margin-bottom: 30px;
}
.images-main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
}
.images{
  background-color: rgba(47, 47, 47, 1);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.images img{
  width: fit-content;
  height: 300px;
}
.images p{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}


.main-head-btn{
    position: relative;
    width: 90%;
    margin-top: 40px;
}
.main-head-btn h1{
    position: absolute;
    left: 440px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: rgba(51, 55, 64, 1);
}
.main-head-btn a{
    position: absolute;
    right: 0px;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: rgba(255, 191, 61, 1);
    text-transform: uppercase;
    margin-top: 20px;
}
.new-arr-imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 90%;
    margin: auto;
}
.img-content{
    margin: 100px 0;
}
.image{
    background-color: rgba(47, 47, 47, 0.1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 220px;
    height: 260px;
}
.para{
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.old-price{
    margin-right: 5px;
    color: rgba(47, 47, 47, 0.7);
    text-decoration: line-through;
    text-decoration-color: rgba(255, 32, 34, 1);
}
.new-price{
    color: rgba(47, 47, 47, 1);
    font-weight: 800;
}
.ratings{
    font-weight: 700;   
}
.hero-main-2{
  position: relative;
}
.hero-main-2 img{
  width: 100%;
}
.text-btn{
  position: absolute;
  top: 170px;
  left: 50px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-btn p{
   font-size: 30px;
  font-weight: 700;
  color: rgba(255, 191, 61, 1);
  text-transform: uppercase;
}
.text-btn a{
   text-decoration: none;
    background-color: rgba(255, 191, 61, 1);
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    width: fit-content;
}
.about-head{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.img-div img{
  height: 550px;
}
.para-div{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
}
.para-div h1{
  font-size: 40px;
  font-weight: 700;
}
.para-div h4{
  font-size: 26px;
  font-weight: 700;
}
.para-div a{
  text-decoration: none;
    background-color: rgba(255, 191, 61, 1);
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    width: fit-content;
}
.customer-reviews{
  background-color: rgba(255, 191, 61, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
  
}
.cust-revs-main{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.customer-reviews h1{
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
}
.reviews{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.cust-name-img{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cust-revs p{
  font-size: 14px;
}
.user{
  text-transform: uppercase;
  font-weight: 700;
}

.contact-head{
  text-align: center;
  font-weight: 800;
  color: rgba(51, 55, 64, 1);
  text-transform: uppercase;
  margin: 20px 0;
}
.contact-main{
  width: 80%;
  margin: auto;
}
.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 450px; */
  margin: 50px 0;
}
.icons a img{
  width: 80%;
}
.search{
}
.search input{
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 150px;
  border-radius: 40px;
}
.search button{
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
  background-color: rgba(255, 191, 61, 1);
  color: white;
}
footer{
  background-color: rgba(255, 191, 61, 0.1);
  padding: 60px 0;
}
.main-footer{
  display: flex;
  justify-content: space-around;
}
.foot-logo p{
  font-weight: 800;
  font-size: 40px;
  color: rgba(51, 55, 64, 1);
  text-transform: uppercase;
}
.shop{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop h1{
  font-size: 32px;
  color: rgba(51, 55, 64, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.shop a{
  font-size: 16px;
  color: rgba(51, 55, 64, 1);
  text-decoration: none;
}
.customer-support{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customer-support h1{
   font-size: 32px;
  color: rgba(51, 55, 64, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.customer-support a{
  font-size: 16px;
  color: rgba(51, 55, 64, 1);
  text-decoration: none;
}
.store-location{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.store-location h1{
   font-size: 32px;
  color: rgba(51, 55, 64, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.store-location p{
  font-size: 16px;
  color: rgba(51, 55, 64, 1);
  text-decoration: none;
}
@media (max-width: 992px) {
  nav {
    justify-content: space-between;
    padding: 15px 25px;
  }

  .logo p {
    font-size: 26px;
  }

  .menu {
    display: none;
  }

}

@media (max-width: 768px) {
  nav {
    padding: 15px;
  }

  .logo p {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .icons {
    margin-top: 10px;
  }

  .icons a {
    font-size: 18px;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .logo p {
    font-size: 20px;
  }

  .menu a {
    font-size: 14px;
  }

  .icons a {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
    .content{
    width: 40%;
    bottom: 150px;
    left: 50px;
}   
}
@media (max-width: 885px) {
    .content{
    width: 40%;
    bottom: 100px;
    left: 30px;
}   
}
@media (max-width: 768px) {
    .content{
    width: 50%;
    bottom: 60px;
    left: 10px;
}   
}
@media (max-width: 426px) {
    .content{
    width: 70%;
    bottom: 100px;
    left: 10px;
}   
.main-hero img{
    height: 400px;
}
.content h1{
    font-size: 20pxpx;
}
.content p{
    font-size: 16px;
}
}



/* ============================= */
/* 📱 MEDIA QUERIES */
/* ============================= */

/* Large Tablets (below 992px) */
@media (max-width: 1024px) {
  .images-main {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .images-container {
    margin-top: 430px;
  }

}

/* Tablets & Small Laptops (below 768px) */
@media (max-width: 768px) {
  .images-main {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 90%;
  }

  .images-container {
    margin-top: 300px;
  }

}

/* Small Mobile Devices (below 480px) */
@media (max-width: 480px) {
  .images-main {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .images-container {
    margin-top: 200px;
  }
}