@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

.main-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    width: 150px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.right-nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(192, 192, 192);
    padding: 6px;
    border-radius: 10px;
}

.form i {
    color: gray;
    margin-left: 8px;
}

.form input {
    width: 200px;
    border: none;
    outline: none;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.main-hero{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-heading{
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
}
.left-hero{
    width: 45%;
}
.left-hero img{
    width: 500px;
    height: 500px;
}
.right-hero{
    width: 45%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}
.right-hero h1{
    font-size: 40px;
}
.right-hero p{
    color: rgb(98, 98, 98);
}
.card-head{
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-cards{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 75px;
}
.main-cards img{
    width: 340px;
    height: 250px;
    border-radius: 20px;
}
.footer-head{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 60px;
}
.main-footer{
    width: 90%;
    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
}
.about-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-section h2{
    color: white;
}
.about-section a{
    color: white;
    text-decoration: none;
}
.contact-section h2{
    color: white;
}
.contact-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-section a{
    color: white;
    text-decoration: none;
}
.email i{
    color: rgb(255, 255, 0);
    border: rgb(255, 255, 0) solid 1px;
    padding: 4px;
    border-radius: 100%;
    margin-right: 6px;
}
.num i{
    color: rgb(255, 255, 0);
      border: rgb(255, 255, 0) solid 1px;
    padding: 4px;
    border-radius: 100%;
    margin-right: 6px;
}
  .working i{
    color: rgb(255, 255, 0);
      border: rgb(255, 255, 0) solid 1px;
    padding: 4px;
    border-radius: 100%;
    margin-right: 6px;
  }
  .social-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .social-links h2{
    color: white;
  }
  .social-links a{
    color: white;
    text-decoration: none;
  }
  .insta i{
    color: white;
    margin-right: 6px;
  }
  .facebook i{
    color: white;
    margin-right: 6px;
  }