@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Nunito Sans", sans-serif;
}
.main-container{
    width: 100%;
    position: relative;
}
.bg-img img{
    height: 600px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    width: 100%;
    margin: auto;
}
.logo img{
    width: 100px;
    height: 60px;
}
.menu{
    display: flex;
    gap: 10px;
}
.menu a{
    text-decoration: none;
    background-color: rgba(138, 165, 186, 1);
    padding: 10px;
    border-radius: 40px;
    color: white;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: rgba(138, 165, 186, 1);
    padding: 10px;
    border-radius: 40px;
    color: white;
}
.language{
    display: flex;
    gap: 10px;
}
.language a{
    text-decoration: none;
    background-color: rgba(138, 165, 186, 1);
    padding: 10px;
    border-radius: 40px;
    color: white;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons a{
     text-decoration: none;
    background-color: rgba(138, 165, 186, 1);
    padding: 10px;
    border-radius: 40px;
    color: white;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.hero-content h1{
    white-space: none;
    font-size: 70px;
    font-weight: 600;
    color: white;
    line-height: 55px;
}
.hero-content p{
    font-size: 26px;
    font-weight: 600;
    color: white;
    line-height: 55px;
}
.hero-content a{
    background-color: black;
    padding: 12px 27px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    width: fit-content;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}
.img{
    display: flex;
    flex-direction: column;
    position: relative;
}
.img img{
    width: 421px;
    height: 500px;
}
.img a{
    position: absolute;
    top: 20px;
    left: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    width: fit-content;
    border-radius: 40px;
}
.trending-container{
    display: flex;
    flex-direction: column;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.heading .line{
    width: 65%;
    border: 1px dashed grey;
    margin: auto;
}
.btn a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}
.trend-img{
    display: flex;
    flex-wrap: wrap;
}
.trend-img img{
    width: 300px;
    height: 470px;
}

.trend-img .img1{
    flex-grow: 1;
    position: relative;
}
.trend-img p{
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    padding-top: 50px;
}
.main-footer{
    display: flex;
    justify-content: space-around;
}
.logo-play-app{
    display: flex;
    flex-direction: column;
     justify-items: center;
    justify-content: center;
    gap: 50px;
}
.logo-play-app .logo-foot{
    width: 200px;
    margin-left: 70px;
}
.logo-play-app .play{
    width: 350px;
}
.fst-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}
.fst-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.scnd-menu{
     display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}
.scnd-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.trd-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}
.trd-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.search-icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.search{
    border: 1px solid rgb(198, 194, 194);
    padding: 10px;
    border-radius: 4px;
}
.search input{
    width: 250px;
    background-color: black;
    outline: none;
    border: none;
    color: rgb(198, 194, 194);
}
.icon{
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.icon i{
    border: 1.5px solid rgba(118, 152, 178, 1);
    padding: 8px;
    border-radius: 100px;
}
.first-last-item{
    margin-top: 30px;
}
.scnd-last-item{
    margin-top: 74px;
}
.trd-last-item{
    margin-top: 75px;
}
.line{
    height: 0.5px;
    width: 95%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
}
.end-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    width: 95%;
    margin: auto;
}
.end-terms{
    display: flex;
    gap: 25px;
}
.end-terms a{
    text-decoration: none;
    color: white;
}
.end-icons{
    display: flex;
    gap: 10px;
}